@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

/* ******************** */
/* VARIABLS */
/* ******************** */

:root {
    --ff: 'Inter', sans-serif;

    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);

    --fs-para: .75rem;
    --fs-news-headline: .85rem;
    --fs-latest-news-heading: 1.5rem;

    --fw-para: 400;
    --fw-news-headline: 700;
    --fw-news-homepage-title: 800;

    --line-h-para: 1.8;

    --transition: all .5s ease-in-out;
}


/* ******************** */
/*  RESET  */
/* ******************** */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ******************** */
/*  GLOBAL  */
/* ******************** */

body {
    font-family: var(--ff);
    font-size: var(--fs-para);
    font-weight: var(--fw-para);
    line-height: var(--line-h-para);
    color: var(--Dark-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



/* ******************** */
/*  LAYOUT  */
/* ******************** */

.container {
    max-width: 60rem;
    margin: 2rem 1rem 3rem;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
}

.content-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(240, 100%, 5%, .5);
    transform: translateX(-100%);
}

.open .content-wrapper::before {
    transform: translateX(0);
}


header {
    grid-area: one;
}

.main-content {
    grid-area: two;
}

.latest-news-wrapper {
    grid-area: three;
}

.tech-news-wrapper {
    grid-area: four;
}


/* ******************** */
/*  HEADER  */
/* ******************** */

header {
    position: relative;
}

header .logo {
    width: 2.5rem;
    transition: var(--transition);
} 

.btn .hamburger-btn, .close-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    cursor: pointer;
}

.hamburger-btn {
    width: 2rem;
    transform: translateY(40%);
}

.close-btn {
    width: 1.8rem;
    transform: translateY(-5%);
    display: none;
}

.menu-content {
    background-color: var(--Off-white);
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;

    transform: translateX(100%);
    transition: transform 1s ease;
}

.menu-content ul {
    margin-top: 7rem;
}

.menu-content li {
    list-style: none;
    display: block;
    padding: .8rem 2rem;
}

.menu-content li:hover {
    background-color: var(--Soft-orange);
}

.menu-content li a {
    color: var(--Very-dark-blue);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.open .menu-content {
    transform: translateX(0);
}

.open .close-btn {
    display: block;
}

.open .hamburger-btn {
    display: none;
}



/* ******************** */
/*  MAIN-CONTENT  */
/* ******************** */

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.title {
    font-size: 1.6rem;
    font-weight: var(--fw-news-homepage-title);
    line-height: 1.1;
    color: var(--Very-dark-blue);
    transition: var(--transition);
}

.btn-read-more {
    font-size: .6rem;
    font-weight: 600;
    width: 8.5rem;
    height: 2.1rem;
    border: none;
    background-color: var(--Soft-red);
    color: var(--Off-white);
    letter-spacing: .22rem;
    text-transform: uppercase;
    cursor: pointer;
    align-self: end;
    transition: var(--transition);
}

.btn-read-more:hover {
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
}



/* ******************** */
/*  ARTICLE  */
/* ******************** */

.latest-news-wrapper {
    padding: 1.2rem 1rem;
    margin: 1.5rem 0;
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    transition: var(--transition);
}

.latest-news-heading {
    color: var(--Soft-orange);
    font-size: var(--fs-latest-news-heading);
    font-weight: var(--fw-news-headline);
}

.latest-news-box:not(:last-child) {
    border-bottom: .5px solid var(--Dark-grayish-blue);
}

.latest-news-box .headline {
    font-size: var(--fs-news-headline);
    font-weight: var(--fw-news-headline);
}

.latest-news-box .headline a {
    text-decoration: none;
    color: var(--Off-white);
    transition: var(--transition);
}

.latest-news-box .headline a:hover {
    color: var(--Soft-orange);
}

.latest-news-box .lead {
    color: var(--Grayish-blue);
}

.news-1 {
    padding: 1rem 0 1.3rem;
}

.news-2 {
    padding: 1.3rem 0;
}

.news-3 {
    padding-top: 1.3rem;
}



/* ******************** */
/*  FOOTER  */
/* ******************** */

.tech-news-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.tech-news-box {
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: var(--transition);
}

.tech-news-box img {
    width: 4.5rem;
    height: 100%;
    object-fit: contain;
}

.tech-news-content p:nth-child(1) {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--Grayish-blue);
    line-height: normal;
}

.tech-news-content p:nth-child(2) {
    font-size: var(--fs-news-headline);
    font-weight: var(--fw-news-headline);
}

.tech-news-content a {
    text-decoration: none;
    color: var(--Very-dark-blue);
    transition: var(--transition);
}

.tech-news-content a:hover {
    color:var(--Soft-red);
}



/* ******************** */
/*  MEDIA-QUERY  */
/* ******************** */

@media screen and (min-width: 25rem) {
    .title {
        font-size: 1.8rem;
    }

    header .logo {
        width: 2.8rem;
    }

}

@media screen and (min-width: 38rem) {
    .open .content-wrapper::before {
        transform: translateX(-100%);
    }

    .content-wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "one one one"
            "two two three"
            "four four four";
        gap: 2.5rem 1.5rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        width: 3.5rem;
    }

    header .btn {
        display: none;
    }

    .menu-content {
        transform: translate(0);
        background: transparent;
        position: relative;
        width: auto;
        height: auto;
    }

    .menu-content ul {
        margin: 0;
        display: flex;
        gap: 2rem;
    }

    .menu-content li {
        padding: 0;
        position: relative;
    }

    .menu-content li:hover {
        background-color: transparent;
    }

    .menu-content li::before {
        content: "";
        width: 100%;
        height: .5px;
        position: absolute;
        top: 20%;
        left: 0;
        background-color: var(--Soft-red);
        opacity: 0;
        transition: .5s ease;
    }
    
    .menu-content li:hover::before {
        opacity: 1;
        top: 0;
    }

    .menu-content li::after {
        content: "";
        width: 100%;
        height: .5px;
        position: absolute;
        bottom: 20%;
        left: 0;
        background-color: var(--Soft-red);
        opacity: 0;
        transition: .5s ease;
    }

    .menu-content li:hover::after {
        opacity: 1;
        bottom: 0;
    }

    .menu-content li a {
        font-size: .85rem;
        color: var(--Dark-grayish-blue);
        font-weight: 400;
    }
    
    .menu-content li a:hover {
        color: var(--Soft-red);
    }

    .main-content {
        grid-template-columns: 1fr 1fr;
    }
    
    .main-content picture {
        grid-column: 1 / 3;
    }

    .title {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        font-size: 2.5rem;
    }

    .title-description {
        grid-column: 2 / 3;
    }

    .btn-read-more {
        grid-column: 2 / 3;
    }

    .latest-news-wrapper {
        margin: 0;
    }

    .tech-news-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width: 48rem) {
    .content-wrapper {
        row-gap: 2.5rem;
    }

    .title {
        font-size: 2.8rem;
    }

    .btn-read-more {
        width: 9rem;
    }
}
